<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key ="FilePath" value ="C:\Users\Anima sola\Desktop\lab02\lab.txt"/>
		<add key="SecondFilePath" value="C:\Users\Anima sola\Desktop\lab02\lab.2.txt"/>
		<add key="ThirdFilePath" value="C:\Users\Anima sola\Desktop\lab02\lab.3.txt"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>